#ficha hr {
    width: 40%;
    margin: 0% auto;
    color: mediumspringgreen;
} 
#ficha h2 {
    color: darkturquoise;
    font-size: 24px;
    text-align: center;
}
#ficha label {
    margin: 13px;
    
}
#ficha input {
    margin: 10px;
}

#ficha {
    width: 50%;
    display: table-cell;
}
#login {
    width: 50%;
    display: table-cell;
    text-align: center;
    background: lightgrey;
    min-height: 500px;
}
#login #material{color: #fff;background: #000;text-transform: uppercase;padding: 2px 10px;width: 25%;
    margin: 0 auto;font: 20px Arial;border: 1px solid white;}
#login #datos{color: #000;background: #EFB810;width: 45%;
    margin: 0 auto;
    font: 700 35px 'Roboto';
    text-transform: uppercase;
    padding: 10px;}
#login a{    text-decoration: none;
    color: red;
    text-transform: uppercase;
    font: 600 30px Arsenal;}
#index{display: table;width: 800px;margin: 0 auto;}