.results {
    text-align: center;
    border: 1px solid black;
    max-width: 300px;
    margin: 0 auto;
}
h1{
    text-align: center;
    margin-bottom: 50px;
}
h1 span{
    font-style: italic;
    font-size: 15px;
}

.style{
    text-align: center;
    margin-top: 15px;
}